<div class="flex flex-wrap items-center gap-3 mb-6">
  <div class="rounded-md bg-white px-2.5 py-1 text-xs font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 flex">
    <%= render Layout::Status.new(status: @gem.type_files.any? ? :green : :default) %>
    <div class="ml-1 w-full">Types</div>
  </div>

  <div class="rounded-md bg-white px-2.5 py-1 text-xs font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 flex">
    <%= render Layout::Status.new(status: @gem.metadata.dependencies.map(&:name).include?("zeitwerk") ? :green : :default) %>
    <div class="ml-1 w-full" data-title="Does this gem conform to the Zeitwerk conventions?">Zeitwerk</div>
  </div>

  <div class="rounded-md bg-white px-2.5 py-1 text-xs font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 flex">
    <%= render Layout::Status.new(status: :default) %>
    <div class="ml-1 w-full" data-title="Does this gem follow the Rubygems namespace conventions?">Namespace</div>
  </div>

  <div class="rounded-md bg-white px-2.5 py-1 text-xs font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 flex">
    <%= render Layout::Status.new(status: @gem.markdown_files.count > 2 ? :green : :default) %>
    <div class="ml-1 w-full">Docs</div>
  </div>

  <div class="rounded-md bg-white px-2.5 py-1 text-xs font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 flex">
    <%= render Layout::Status.new(status: :default) %>
    <div class="ml-1 w-full">Guides</div>
  </div>
</div>

<div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-8 mb-6">
  <div class="bg-gray-50 rounded p-3 text-center border justify-center flex-col flex">
    <p class="excerpt metadata_headers">Version</p>
    <p><%= @gem.version %></p>
  </div>

  <div class="bg-gray-50 rounded p-3 text-center border justify-center flex-col flex">
    <p class="excerpt metadata_headers">Authors</p>
    <p><%= helpers.to_short_sentence(@gem.metadata.authors) %></p>
  </div>

  <div class="bg-gray-50 rounded p-3 text-center border justify-center flex-col flex">
    <p class="excerpt metadata_headers">Runtime Dependencies</p>
    <p>
      <% deps = @gem.metadata.dependencies %>

      <% deps.each do |dep| %>
        <span class="font-mono"><%= link_to(dep.name, gem_path(dep.name)) %></span><% if deps.last != dep %>, <% end %>
      <% end %>

      <% if deps.none? %>- <% end %>
    </p>
  </div>

  <div class="bg-gray-50 rounded p-3 text-center border justify-center flex-col flex">
    <p class="excerpt metadata_headers">Quick Start</p>
    <pre class="small-code-thing">bundle add <%= @gem.name %></pre>
  </div>
</div>
