<div class="mt-6 overflow-scroll">
  <div class="mt-6 mb-3">
    <div class="border-b border-gray-300 pb-2 mb-4">
      <%= render UI::Subheading.new(title: @object.code.signature) %>
    </div>

    <% if rbs_signature? %>
      <%= render RBSSignature.new(rbs: rbs_signature, samples: samples) %>
    <% end %>

    <%== yard_docs %>
  </div>

  <% if @object.code.location_content %>
    <%= render UI::CodeBlock.new.with_content(@object.code.location_content.chomp.chomp) %>
  <% else %>
    <%= render UI::CodeBlock.new do %>
      <%- if @parent.is_a?(ClassDefinition) -%>
      <%= @parent.object_name %> <%= @parent.qualified_name %> < <%= @parent.superclass.qualified_name %>
      <%- elsif @parent.is_a?(ModuleDefinition) -%>
      <%= @parent.object_name %> <%= @parent.qualified_name %>
      <%- end -%>
        <%- if @object.instance_method? -%>
        def <%= @object.name %>(...)
        <%- else -%>
        def self.<%= @object.name %>(...)
        <%- end -%>
          # ...
        end
      <%- if @parent.is_a?(ModuleDefinition) || @parent.is_a?(ClassDefinition) -%>
      end
      <%- end -%>
    <% end %>
  <% end %>
</div>
