<div class="mt-6 overflow-scroll">
  <div class="mt-6 mb-3">
    <div class="border-b border-gray-300 pb-2 mb-4">
      <%= render Layout::Subheading.new(title: @object.code.signature) %>
    </div>

    <% if @object.try(:samples, @gem).present? %>
      <div class="rounded-md bg-blue-50 p-4 border border-gray-300 mb-6">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-blue-800">Experimental RBS support (using type sampling data from the <%= link_to "https://github.com/marcoroth/type_fusion", target: :blank do %><code>type_fusion</code><% end %> project)</h3>
            <div class="mt-2 text-sm text-blue-700">
              <p>
                def <%= @object.name %> : (<%= @object.samples(@gem).pluck(:parameters).flatten(1).group_by(&:first).map { |key, param| "#{key}: #{param.map(&:last).tally.keys.compact.join(" | ")}" }.join(", ") %>) -> untyped
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% comment = @object.comments.each.map { |comment| "#{comment}<br>" }.join("\n") %>

    <%#== YARD::Templates::Helpers::Markup::RDocMarkup.new(comment).to_html %>

    <% h = RDoc::Markup::ToHtml.new(RDoc::Options.new) %>
    <%== h.convert(comment) %>
  </div>

  <% if @object.code.location_content %>
    <%= render Layout::CodeBlock.new.with_content(@object.code.location_content.chomp.chomp) %>
  <% else %>
    <%= render Layout::CodeBlock.new do %>
      <%- if @parent.is_a?(ClassDefinition) -%>
      <%= @parent.object_name %> <%= @parent.qualified_name %> < <%= @parent.superclass.qualified_name %>
      <%- elsif @parent.is_a?(ModuleDefinition) -%>
      <%= @parent.object_name %> <%= @parent.qualified_name %>
      <%- end -%>
        <%- if @object.instance_method? -%>
        def <%= @object.name %>(...)
        <%- else -%>
        def self.<%= @object.name %>(...)
        <%- end -%>
          # ...
        end
      <%- if @parent.is_a?(ModuleDefinition) || @parent.is_a?(ClassDefinition) -%>
      end
      <%- end -%>
    <% end %>
  <% end %>
</div>
