<div class="grid grid-cols-1 md:grid-cols-4 gap-12">
  <div class="col-span-1 md:col-span-3">
    <%= render partial: "breadcrumb" %>

    <%= render Layout::GemHeading.new(title: @gem.name) %>

    <%= render GemMetadata.new(gem: @gem) %>

    <%= render partial: "gem_navigation" %>

    <main>
      <%= content %>
    </main>
  </div>

  <div class="col-span-1">
    <%= render Layout::CodeList.new(items: @namespaces, gem: @gem, title: "Top-Level Modules") if @namespaces.any? %>
    <%= render Layout::CodeList.new(items: @classes, gem: @gem, title: "Classes") if @classes.any? %>
    <%= render Layout::CodeList.new(items: @class_methods, gem: @gem, title: "Class Methods") if @class_methods.any? %>
    <%= render Layout::CodeList.new(items: @instance_methods, gem: @gem, title: "Instance Methods") if @instance_methods.any? %>
  </div>
</div>
