<div class="grid grid-cols-1 md:grid-cols-4 gap-12">
  <div class="col-span-1 md:col-span-3">
    <%= render partial: "breadcrumb" %>

    <%= render Layout::GemHeading.new(title: @gem.name) %>

    <%= render GemMetadata.new(gem: @gem) %>

    <%= render partial: "gem_navigation" %>

    <main>
      <%= content %>
    </main>
  </div>

  <div class="col-span-1">
    <%= render ModulesList.new(modules: @namespaces, gem: @gem) if @namespaces.any? %>
    <%= render ClassesList.new(classes: @classes, gem: @gem) if @classes.any? %>
    <%= render ClassMethodsList.new(class_methods: @class_methods, gem: @gem) if @class_methods.any? %>
    <%= render InstanceMethodsList.new(instance_methods: @instance_methods, gem: @gem) if @instance_methods.any? %>

    <%#= render Superclass.new(superclass: object.superclass, gem: @gem) %>
    <%#= render ModulesList.new(modules: object.included_modules, title: "Included Modules", gem: @gem) %>
    <%#= render ModulesList.new(modules: object.extended_modules, title: "Extended Modules", gem: @gem) %>
  </div>
</div>
