<%= render UI::Container.new do %>
  <%= render UI::Subheading.new(title: title("Type-sampled Gems")) %>

  <p class="mt-6">Collected samples: <%= number_with_delimiter(@sample_count) %></p>

  <div class="mx-auto mt-6">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <% @samples.each do |(name, version), count| %>
        <% version = version.to_s.split("-").first %>

        <%= link_to gem_types_path(name, version), class: "block w-full" do %>
          <%= render UI::Card.new(title: name, description: "#{number_with_delimiter(count)} #{"sample".pluralize(count)}") do |card| %>
            <%= card.with_badge(label: version) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
