<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-6">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <div class="flex items-center justify-between">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Featured Gems</h2>
      <a href="<%= gems_path %>" class="text-sm font-semibold leading-6 text-red-600 hover:text-red-500">View all<span class="sr-only">, clients</span></a>
    </div>

    <div class="hidden md:block">
      <%= render partial: "search/search" %>
    </div>

    <ul role="list" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-4 lg:grid-cols-3 xl:gap-x-8">
      <% @featured_gems.each_with_index do |gem, index| %>
        <li class="overflow-hidden rounded-xl border border-gray-200 hover:border-gray-400">
          <%= link_to gem_version_gem_path(gem.name, gem.version) do %>
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-4 md:p-6">
              <%= image_tag @images[index], alt: "#{gem.name} logo", class: "p-2 h-10 w-10 md:h-12 md:w-12 flex-none rounded md:rounded-lg bg-white bg-cover ring-1 ring-gray-900/10" %>
              <div class="text-sm font-medium leading-6 text-gray-900"><%= gem.name.humanize %></div>
              <div class="relative ml-auto block md:hidden">
                <dd class="text-gray-700"><time datetime="<%= gem.released_at.iso8601 %>"><%= gem.released_at.to_fs(:long) %></time></dd>
              </div>
            </div>
            <dl class="hidden md:block -my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Last release</dt>
                <dd class="text-gray-700"><time datetime="<%= gem.released_at.iso8601 %>"><%= gem.released_at.to_fs(:long) %></time></dd>
              </div>
            </dl>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
