<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "layouts/meta" %>
    <%= render partial: "layouts/current" %>
    <%= render partial: "layouts/favicon" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script defer data-domain="gem.sh" src="https://plausible.io/js/script.js"></script>
    <script src="https://cdn.rorvswild.com/agent.js"></script>
  </head>

  <body>
    <%= render UI::Container.new do %>
      <%= render partial: "header" %>

      <div class="bg-white pt-8">
        <%= yield %>
      </div>

      <%= render partial: "footer" %>
    <% end %>
  </body>
</html>
